@model LaundryOnline.Models.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <!-- breadcrumb area start -->
    <div class="tp-page-title-area pt-180 pb-185 position-relative fix" data-background="/assets/img/slider/breadcrumb-bg-1.jpg">
        <div class="tp-custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="tp-page-title z-index">
                        <h2 class="breadcrumb-title"><span>@Model.UserName</span></h2>
                        <div class="breadcrumb-menu">
                            <nav class="breadcrumb-trail breadcrumbs">
                                <ul class="trail-items">
                                    <li class="trail-item trail-begin">
                                        <a asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li class="trail-item trail-end"><span>@Model.UserName</span></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- team area start here -->
    <section class="tp-team-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tp-team-bg theme-dark-bg">
                        <div class="tp-team fix">
                            <div class="tp-team-text pt-30 fix">
                                <h2 class="tp-section-title text-white">@Model.FullName</h2>
                                <ul class="pb-20">
                                    <li><a href="tel:2(800)6666520"><i class="fas fa-phone-alt"></i>@Model.ContactNumber</a></li>
                                    <li><i class="fas fa-map-marker-alt"></i> @Model.Address</li>
                                    <li><a href="https://themepure.net/cdn-cgi/l/email-protection#cba2a5ada48ba0a7aea5aab9f9ffe5a8a4a6"><i class="fas fa-envelope-open"></i> <span class="__cf_email__" data-cfemail="deb7b0b8b19eb5b2bbb0bfaceceaf0bdb1b3">@Model.EmailAddress</span></a></li>
                                </ul>
                                <div class="sidebar__menu--social tp-team-social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-google"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team area end here -->
</main>
