
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    string Labels = null;
    string Data = null;
    foreach (var item in ViewBag.Charts)
    {
        Labels += item.Month + ",";
        Data += item.Count + ",";
    }
}
<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="avatar avatar-icon avatar-lg avatar-blue">
                        <i class="anticon anticon-dollar"></i>
                    </div>
                    <div class="m-l-15">
                        <h2 class="m-b-0">@string.Format("{0:C0}", ViewBag.TotalOrders)</h2>
                        <p class="m-b-0 text-muted">Profit</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="avatar avatar-icon avatar-lg avatar-red">
                        <i class="anticon anticon-warning"></i>
                    </div>
                    <div class="m-l-15">
                        <h2 class="m-b-0">@ViewBag.CancelOrders</h2>
                        <p class="m-b-0 text-muted">Cancel Orders</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="avatar avatar-icon avatar-lg avatar-gold">
                        <i class="anticon anticon-profile"></i>
                    </div>
                    <div class="m-l-15">
                        <h2 class="m-b-0">@ViewBag.Orders</h2>
                        <p class="m-b-0 text-muted">Orders</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="media align-items-center">
                    <div class="avatar avatar-icon avatar-lg avatar-purple">
                        <i class="anticon anticon-user"></i>
                    </div>
                    <div class="m-l-15">
                        <h2 class="m-b-0">@ViewBag.Users</h2>
                        <p class="m-b-0 text-muted">Customers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5>Total Revenue</h5>
                </div>
                <div class="m-t-30" style="height: 350px">
                    <canvas class="chart" id="line-chart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="m-b-0">New Blogs</h5>
                    <div>
                        <a asp-area="Admin" asp-controller="Blogs" asp-action="Index" class="btn btn-sm btn-default">View All</a>
                    </div>
                </div>
                <div class="m-t-30">
                    @foreach (var item in ViewBag.BlogNews)
                    {
                        <div class="m-b-25">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="media align-items-center">
                                    <img src="~/images/blogs/@item.Image" width="50" />
                                    <div class="m-l-15">
                                        <h6 class="m-b-0">
                                            <a class="text-dark" asp-area="Admin" asp-controller="Blogs" asp-action="Details" asp-route-id="@item.BlogId">@item.Title</a>
                                        </h6>
                                        <p class="text-muted m-b-0">@item.CreatedAt?.ToShortDateString()</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5>New Orders</h5>
                    <div>
                        <a asp-area="Admin" asp-controller="Orders" asp-action="Index" class="btn btn-sm btn-default">View All</a>
                    </div>
                </div>
                <div class="m-t-30">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Full Name
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Payment Status
                                    </th>
                                    <th>
                                        OrderStatus
                                    </th>
                                    <th>
                                        CreatedAt
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.ListOrders)
                                {
                                    <tr>
                                        <td>
                                            @item.FullName
                                        </td>
                                        <td>
                                            @item.EmailAddress
                                        </td>
                                        <td>
                                            @item.ContactNumber
                                        </td>
                                        <td>
                                            @string.Format("{0:C0}", item.Price)
                                        </td>
                                        <td>
                                            @if (item.PaymentStatus == 0)
                                            {
                                                    <div class="status">
                                                        <div class="icon off"> </div>
                                                        <div class="text text-danger"> Unpaid </div>
                                                    </div>
                                            }
                                            else
                                            {
                                                <div class="status">
                                                    <div class="icon success"> </div>
                                                    <div class="text text-success"> Paid </div>
                                                </div>
                                            }
                                        </td>
                                        <td>
                                            @if (item.OrderStatus == 0)
                                            {
                                                <a asp-action="Edit" asp-controller="Orders" asp-area="Admin" asp-route-id="@item.OrderId">
                                                    <div class="status">
                                                        <div class="icon warning"> </div>
                                                        <div class="text text-warning"> Pending </div>
                                                    </div>
                                                </a>
                                            }
                                            else if (item.OrderStatus == 1)
                                            {
                                                <a asp-action="Edit" asp-controller="Orders" asp-area="Admin" asp-route-id="@item.OrderId">
                                                    <div class="status">
                                                        <div class="icon primary"> </div>
                                                        <div class="text text-primary"> Shipping </div>
                                                    </div>
                                                </a>}
                                            else if (item.OrderStatus == 2)
                                            {
                                                <div class="status">
                                                    <div class="icon success"> </div>
                                                    <div class="text text-success"> Delivered </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="status">
                                                    <div class="icon off"> </div>
                                                    <div class="text text-danger"> Cancel </div>
                                                </div>
                                            }
                                        </td>
                                        <td>
                                            @item.CreatedAt?.ToShortDateString()
                                        </td>
                                        <td class="d-flex">
                                            <a asp-action="Details" asp-controller="Orders" asp-area="Admin" asp-route-id="@item.OrderId">
                                                <i class="anticon anticon-info-circle btn btn-icon btn-primary mr-2"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Css{
    <style>
        .status {
            display: flex;
            align-items: center;
            margin-left: 30px;
        }

            .status .icon.success {
                background: #198754;
            }

            .status .icon.off {
                background: #dc3545;
            }

            .status .icon.warning {
                background: #ffc107;
            }

            .status .icon.primary {
                background: #0d6efd;
            }

            .status .icon {
                background: #2e7d32;
                margin-right: 10px;
                width: 14px;
                height: 14px;
                border-radius: 50%;
            }
    </style>

}
@section Scripts{
    <script>
        const lineChart = document.getElementById("line-chart");
        const lineCtx = lineChart.getContext('2d');
        lineChart.height = 120;
        const lineConfig = new Chart(lineCtx, {
            type: 'line',
            data: {
                labels: [@Labels],
                datasets: [{
                    label: 'Total Price',
                    data: [@Data],
                    fill: false,
                    borderColor: 'rgba(54, 162, 235, 1)',
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                }]
            },
            options: {
                legend: {
                    display: true
                },
                scales: {
                    y: {
                        beginAtZero: true
                    },
                    xAxes: [{
                        gridLines: [{
                            display: false,
                        }],
                        ticks: {
                            display: true,
                            fontSize: 13,
                            padding: 12
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            callback: function (value, index, values) {
                                return value.toLocaleString("en-US", { style: "currency", currency: "USD" });
                            }
                        }
                    }]
                },
                tooltip: {
                    callbacks: {
                        label: function (context) {
                            let label = context.dataset.label || '';

                            if (label) {
                                label += ': ';
                            }
                            if (context.parsed.y !== null) {
                                label += new Intl.NumberFormat('en-US', {
                                    style: 'currency',
                                    currency: 'USD'
                                }).format(context.parsed.y);
                            }
                            return label;
                        }
                    }
                }
            }
        });
    </script>
}