@model X.PagedList.IPagedList<LaundryOnline.Models.Order>
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .status {
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

        .status .icon.success {
            background: #198754;
        }

        .status .icon.off {
            background: #dc3545;
        }

        .status .icon.warning {
            background: #ffc107;
        }

        .status .icon.primary {
            background: #0d6efd;
        }

        .status .icon {
            background: #2e7d32;
            margin-right: 10px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
        }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
<div class="page-header row">
    <div class="header-sub-title col-md-12">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-controller="Home" asp-action="Index" class="breadcrumb-item">
                <i class="anticon anticon-home m-r-5"></i>Home
            </a>
            <a class="breadcrumb-item" asp-controller="Orders" asp-action="Index">Orders</a>
            <span class="breadcrumb-item active">List Orders</span>
        </nav>
    </div>
    <div class="col-md-12" style="display: flex;">
        <form action="" method="get" class="form-inline ml-lg-auto">
            <div class="form-group">
                <label class="sr-only" for="">label</label>
                <input class="form-control" name="name" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-icon btn-default mr-1"><i class="fas fa-search"></i></button>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Full Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Payment Status
                    </th>
                    <th>
                        OrderStatus
                    </th>
                    <th>
                        CreatedAt
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactNumber)
                        </td>
                        <td>
                            @string.Format("{0:C0}", item.Price)
                        </td>
                        <td>
                            @if (item.PaymentStatus == 0)
                            {
                                <a asp-action="ChangePayment" asp-controller="Orders" asp-area="Admin" asp-route-id="@item.OrderId">
                                    <div class="status">
                                        <div class="icon off"> </div>
                                        <div class="text text-danger"> Unpaid </div>
                                    </div>
                                </a>
                            }
                            else
                            {
                                <div class="status">
                                    <div class="icon success"> </div>
                                    <div class="text text-success"> Paid </div>
                                </div>
                            }
                        </td>
                        <td>
                            @if (item.OrderStatus == 0)
                            {
                                <a asp-action="Edit" asp-controller="Orders" asp-area="Admin" asp-route-id="@item.OrderId">
                                    <div class="status">
                                        <div class="icon warning"> </div>
                                        <div class="text text-warning"> Pending </div>
                                    </div>
                                </a>
                            }
                            else if (item.OrderStatus == 1)
                            {
                                <a asp-action="Edit" asp-controller="Orders" asp-area="Admin" asp-route-id="@item.OrderId">
                                    <div class="status">
                                        <div class="icon primary"> </div>
                                        <div class="text text-primary"> Shipping </div>
                                    </div>
                                </a>}
                            else if (item.OrderStatus == 2)
                            {
                                <div class="status">
                                    <div class="icon success"> </div>
                                    <div class="text text-success"> Delivered </div>
                                </div>
                            }
                            else
                            {
                                <div class="status">
                                    <div class="icon off"> </div>
                                    <div class="text text-danger"> Cancel </div>
                                </div>
                            }
                        </td>
                        <td>
                            @item.CreatedAt?.ToShortDateString()
                        </td>
                        <td class="d-flex">
                            <a asp-action="Details" asp-area="Admin" asp-route-id="@item.OrderId">
                                <i class="anticon anticon-info-circle btn btn-icon btn-primary mr-2"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info">
                    Showing
                    <span class="text-danger">
                        @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                    </span>
                    of
                    <b>
                        @Model.PageCount
                    </b>
                    pages
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="float-right ">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
                        new PagedListRenderOptions
                        {
                            LiElementClasses = new string[] { "page-item" },
                            PageClasses = new string[] { "page-link" }
                        }
                    )
                </div>
            </div>
        </div>
    </div>
</div>