@model X.PagedList.IPagedList<LaundryOnline.Models.Unit>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!-- breadcrumb area start -->
    <div class="tp-page-title-area pt-180 pb-185 position-relative fix" data-background="/assets/img/slider/breadcrumb-bg-1.jpg">
        <div class="tp-custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="tp-page-title z-index">
                        <h2 class="breadcrumb-title">Our <span>Services</span></h2>
                        <div class="breadcrumb-menu">
                            <nav class="breadcrumb-trail breadcrumbs">
                                <ul class="trail-items">
                                    <li class="trail-item trail-begin">
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li class="trail-item trail-end"><span>Services</span></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- service area start here -->
    <section class="tp-service-area-three pt-120 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-wrapper text-center mb-55 wow fadeInUp" data-wow-delay=".3s">
                        <h5 class="tp-section-subtitle common-yellow-shape mb-20 heading-color-black">Our Best Services</h5>
                        <h2 class="tp-section-title heading-color-black">Quality Cleaning Making <br>you Much Happy</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-2">
                    <form method="get" class="form-inline ml-lg-auto" asp-action="Index" asp-controller="Services">
                        <div class="tp-contact-form-field select-field-arrow mb-20">
                            <select name="serviceId" onchange="forms[0].submit()" class="form-control" style="height:60px !important;border-radius: 10px !important;background: #f7f7f7 !important;color: #83868c !important;border: none !important;">
                                <option value="">----Choose----</option>
                                @foreach (var item in ViewBag.Service)
                                {
                                    @if (ViewBag.ServiceId == item.ServiceId)
                                    {
                                        <option value="@item.ServiceId" selected>@item.ServiceName</option>
                                    }
                                    else
                                    {
                                        <option value="@item.ServiceId">@item.ServiceName</option>

                                    }
                                }
                            </select>

                        </div>
                    </form>
                </div>
                <div class="widget wow fadeInUp right col-md-4" data-wow-delay=".3s">
                    <div class="sidebar--widget__search mb-45 right">
                        <form method="get" class="form-inline ml-lg-auto" asp-action="Index" asp-controller="Services">
                            <div class="form-group">
                                <label class="sr-only" for="">label</label>
                                <input class="form-control" name="name" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-icon btn-default mr-1"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-6">
                            <div class="tp-service-three tp-service-four mb-30 wow fadeInUp" data-wow-delay=".6s">
                                <div class="tp-service-three-img">
                                    <img width="260" height="260" src="~/images/unit/@item.Image" class="img-fluid" alt="@item.UnitName">
                                    <div class="tp-service-three-img-icon">
                                        <i class="flaticon-house-cleaning"></i>
                                    </div>
                                    <div class="tp-service-three-img-overlay">
                                        <div class="tp-service-three-img-overlay-icon">
                                            <i class="flaticon-house-cleaning"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="tp-service-three-text fix">
                                    <h4 class="tp-service-three-title mb-20 heading-color-black-with-hover">
                                        <a>@item.UnitName</a>
                                    </h4>
                                    <h6 class="mb-30">
                                        @string.Format("{0:C0}", @item.UnitPrice)
                                    </h6>
                                    <p>@item.Service.ServiceName</p>
                                    <div class="tp-service-three-text-btn">
                                        <a asp-controller="Cart" asp-action="AddCart" asp-route-id="@item.UnitId" class="yellow-btn">
                                            <i class="fas fa-shopping-basket "></i> Add Cart
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="basic-pagination mt-10 wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">

                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
                                new PagedListRenderOptions
                                {
                                    LiElementClasses = new string[] { "" },
                                    PageClasses = new string[] { "page-numbers" }
                                }
                            )

                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- service area end here -->
        <!-- testimonial area start here -->


    </main>

